[submodule "fl-common"]
	path = fl-common
	url = https://github.com/adrianoggm/fl-common
	branch = main
[submodule "fl-server"]
	path = fl-server
	url = https://github.com/adrianoggm/fl-server.git
[submodule "fl-ml-models"]
	path = fl-ml-models
	url = https://github.com/adrianoggm/fl-ml-models.git
[submodule "fl-client"]
	path = fl-client
	url = https://github.com/adrianoggm/fl-client.git
